<div class = "body">
<nav class="navbar navbar-expand-sm navbarlight" style="background-color: #013d6a;">
	<div class="container-fluid">
		<div class="container">
			<a class="navbar-brand" href="#">
			  <img src="./../../assets/KI_Northern California for Literacy_REV.png" alt="Bootstrap" width="208" height="45">
			</a>
		  </div>
	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav me-auto mb-2 mb-lg-0">
		  <li class="nav-item">
			<a class="nav-link" href="">Home</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="\events">Events</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="\order">Book Orders</a>
		  </li>
		</ul>
		<form class="d-flex" role="search">
		  <button class="btn btn-outline-secondary" type="submit">Admin Login</button>
		</form>
	  </div>
	</div>
  </nav>
  </div>