.body{
    background-color: var(--primary) ;
    min-height: 90vh;
    color: white;
}

form{
    padding-top:10vh;
    max-width: 50%;
    margin:auto;
}


.btn-light {
	background-color: var(--secondary);
	border-color: var(--secondary);
}

h1{
    color: var(--secondary);
    text-align: center;
}