.goals{
    tab-size: 8;
}
.body{
    background-color: #013d6a ;
    color: white;
    
    
}

.container{
    display: block;
    
    max-width: 50%;
    margin: auto;
}
h2{
    text-align: center;
}
