<div class="body">
    <div class="container text-center">
        <div class="row">
            <div class="col-8">
                <div class="row">
                    <div class="col">
                        <a href="https://www.kiwanis.org">
                            <h4>Kiwanis International</h4>
                        </a>
                    </div>
                    <div class="col">
                        <a href="\events">
                            <h4>View Events</h4>
                        </a>
                    </div>
                    <div class="col">
                        <a href="\order">
                            <h4>Make a Book Order Request</h4>
                        </a>
                    </div>

                </div>
            </div>
            <div class="col-4">
                <div class="container text-center">
                    <h2> Contact Us: </h2>

                    <div class="row">
                        <div class="col">
                            <div class = "button-left">
                            <button type="button" class="btn btn-light btn-lg">
                                <a href="mailto: kiwanisnorcalliteracy@gmail.com">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-envelope" viewBox="0 0 16 16">
                                        <path
                                            d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z" />
                                    </svg>
                                </a>
                            </button>
                            </div>
                        </div>
                        <div class="col">
                            <div class = "button-right">
                            <button type="button" class="btn btn-light btn-lg">
                                <a href="https://www.facebook.com/KiwanisNorCalLiteracy/">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-facebook" viewBox="0 0 16 16">
                                        <path
                                            d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z" />
                                    </svg>
                                </a>

                            </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>