.body{
    min-height: vh90;
    background-color: var(--primary);
    color:white;
}
h2{
    text-align: center;
    color: var(--secondary)
}
.btn-primary{
    background-color: var(--secondary);
	border-color: var(--secondary);
    color:black;
}
