img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
}

.body {
    padding-top: 5vh;
    overflow: hidden;
    text-align: center;
    padding-bottom: 5vh;
    background-color: #013d6a;
}