.body{
	background-color: var(--primary);
	padding: 1rem;
}

.card {
	margin: 0rem 5rem 1rem 5rem;
	padding: 1rem;
}

.btn-light {
	background-color: var(--secondary);
	border-color: var(--secondary);
}